/* Sets custom (cst-base-prop: value) variable inside root */

:root {
    --cst-color-vermillion: #ed4e3c;
    --cst-color-vermillion-darken: #ce3b2b;
    --cst-color-jet: #3a3a3a;
    --cst-base-font-size: 16px;
    --cst-base-font-family: 'Inter', system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--cst-base-font-size);
}

/* Bootstrap related variables */

:root {
    --bs-font-sans-serif: var(--cst-base-font-family);
    --bs-primary: var(--cst-color-vermillion);
    --bs-primary-rgb: 237, 78, 60;
    --bs-link-color-rgb: 237, 78, 60;
    --bs-link-hover-color-rgb: 136, 41, 31;
    --bs-body-color: #000;
    --bs-heading-color: var(--cst-color-jet);
}

:root,
[data-bs-theme='light'] {
}

:root,
[data-bs-theme='dark'] {
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--cst-color-vermillion-darken);
    --bs-btn-hover-border-color: var(--cst-color-vermillion-darken);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--cst-color-vermillion-darken);
    --bs-btn-active-border-color: var(--cst-color-vermillion-darken);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #808080;
    --bs-btn-disabled-border-color: #808080;
}

.btn-light {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: var(--cst-color-vermillion-darken);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--cst-color-vermillion-darken);
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #808080;
    --bs-btn-disabled-border-color: #808080;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #808080;
    --bs-btn-disabled-border-color: #808080;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
