.cst-carousel {
  height: 320px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.cst-carousel__inner {
  column-gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.cst-carousel__card {
  background-color: #fff;
  border-radius: .75rem;
  height: 100%;
  padding: 3.5rem;
  position: relative;
  width: 420px;
}

.cst-icon-overlay {
  height: 42px;
  position: absolute;
  width: 42px;
}

.cst-icon-overlay.quote-open {
  left: 2rem;
  top: 1rem;
}

.cst-icon-overlay.quote-close {
  bottom: 1rem;
  right: 2rem;
}

.cst-testimony {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.cst-testimony__client {
  align-items: center;
  column-gap: .5rem;
  display: flex;
}

.cst-testimony__client img {
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

@media screen and (min-width: 768px) {
  .testimonial {
    display: flex;
  }
  .testimonial__title {
    align-self: center;
    flex: 1;
    padding: 0 5rem;
  }
  .cst-carousel {
    flex: 3;
    width: 100%;
  }
  .cst-carousel__card {
    width: 480px;
  }
}