
/* Michael Panica Start of CSS Modifications */
/***** Navbar - Michael Panica *****/ 

/* Sticky Nav - Step */
.navbar{
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.nav-link, .navbar-brand{
  font-family: "Inter", sans-serif !important; 
  font-optical-sizing: auto;
  font-weight: 450 !important;
  font-size: 20px !important;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.nav-link {
  color: #000;
  display: inline-flex;
  transition: transform 1s !important;
}
.nav-link:hover {
  transition-duration: 0.5s;
  transition: 400ms ease-in-out !important;
  transform: scale(1.2);
}
.hero-text {
  font-family: "Inter", sans-serif !important;
  font-size: 6vh !important;
  color: white !important;
}

.active {
  color: #ed4e3c !important;
}
.precision {
  font-family: "Inter", sans-serif !important;
  font-size: 6vh !important;
  color: #ed4e3c;
}

.nav-item {
  margin: auto 12px !important;
}

 /***** End Navbar - Michael Panica *****/
 /***** Hero Section - Michael Panica *****/  
 
.hcf-bp-center {
  background-position: center !important;
}

.hcf-bs-cover {
  background-size: cover !important;
}

.hcf-overlay {
  --hcf-overlay-opacity: 0.5;
  --hcf-overlay-bg-color: var(--bs-black-rgb);
  position: relative;
}

.hcf-overlay::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hcf-overlay > * {
  position: relative;
  z-index: 1;
}

.hcf-transform {
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: all 0.5s;
}
/***** End Hero Section - Michael Panica *****/
/***** Buttons Animation and customisation - Michael Panica *****/ 

.colored-button {
  color: white !important;
  background-color: #ed4e3c !important;
  transition: transform 1s !important;
  
}

.colored-button:hover {
  transform: scale(1.2);
  transition: 400ms ease-in-out !important;
}
.contact-button {
  border-radius: 10px;
  display: inline-block;
  padding-left: 1.2vw !important;
  padding-right: 1.2vw !important;
}
.default-button {
  border: solid 2px white !important;
  color: white !important;
  transition: transform 1s !important;
  margin-left: 1vw !important;
}

.default-button:hover {
  transition: 400ms ease-in-out !important;
  transform: scale(1.2);
}
 /***** End Buttons Animation and customisation - Michael Panica *****/


.cst-carousel {
  height: 320px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.cst-carousel__inner {
  column-gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.cst-carousel__card {
  background-color: #fff;
  border-radius: .75rem;
  height: 100%;
  padding: 3.5rem;
  position: relative;
  width: 420px;
}

.cst-icon-overlay {
  height: 42px;
  position: absolute;
  width: 42px;
}

.cst-icon-overlay.quote-open {
  left: 2rem;
  top: 1rem;
}

.cst-icon-overlay.quote-close {
  bottom: 1rem;
  right: 2rem;
}

.cst-testimony {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.cst-testimony__client {
  align-items: center;
  column-gap: .5rem;
  display: flex;
}

.cst-testimony__client img {
  border-radius: 50%;
  height: 38px;
  width: 38px;
}
.testimonial-contact {
  background-color: #fff !important;
  color: #e34c26 !important;
  padding: 1.5vh 2vw;
  font-size: 2vh;
}
@media screen and (min-width: 768px) {
  
  .testimonial {
    display: flex;
  }
  .testimonial__title {
    align-self: center;
    flex: 1;
    padding: 0 5rem;
  }
  .cst-carousel {
    flex: 3;
    width: 100%;
  }
  .cst-carousel__card {
    width: 480px;
  }
}

/***** Cards Section - Michael Panica *****/ 

#contributors {
  margin-top: 0 !important;
  padding-top: 6vh !important;
  padding-bottom: 6vh !important;
}
.contributor-text {
  font-family: "Inter", sans-serif !important;
  font-size: 6vh !important;
  justify-content: center !important;
  color: #ed4e3c !important;
}
.contributors-alt-text {
  font-family: "Inter", sans-serif !important;
  font-size: 1vh !important;
  justify-content: center !important;
}
#contributors .card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
  transition: transform 1s !important;
  border: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2vh;
  margin-right: 2vh;
  height: 100%;
}
.card:hover {
  transform: scale(1.05);
  transition: 400ms ease-in-out !important;
}
.card-img-top {
  object-fit: contain;
  max-height: 45vh;;
  width: 100%;
  height: auto;
}
 /***** End Cards Section - Michael Panica *****/
/***** Cards Websites and links - Michael Panica *****/ 
.github{
  margin-right: .25vw;
  margin-top: .5vh;
  padding: .8vh .35vw;
  color: white;
  background-color: #2b3137; 
  transition: transform 1s !important;
}
.github:hover {
  color: rgb(221, 221, 221);
  background-color: #24292e;
  transition: 400ms ease-in-out !important
}
.linkedin{
  margin-right: .25vw;
  margin-top: .5vh;
  padding: .8vh .35vw;
  color: white;
  background-color: #00a0dc; 
  transition: transform 1s !important;
}

.linkedin:hover{
  color: rgb(221, 221, 221);
  background-color: #0077b5;
  transition: 400ms ease-in-out !important;
}

.website {
  margin-right: .25vw;
  margin-top: .5vh;
  padding: .8vh .35vw;
  color: white;
  background-color: #E36414; 
  transition: transform 1s !important;
}
.website:hover {
  color: rgb(221, 221, 221);
  background-color: #a34b14;
  transition: 400ms ease-in-out !important;
}
.behance {
  margin-right: .25vw;
  margin-top: .5vh;
  padding: .8vh .35vw;
  color: white;
  background-color: #0067ff; 
  transition: transform 1s !important;
}
.behance:hover {
  color: rgb(221, 221, 221);
  background-color: #004bbb;
  transition: 400ms ease-in-out !important;
}
 /***** End Cards Websites and links - Michael Panica *****/
 /***** FontAwesome Icons Customisation *****/ 
 
.fa-html5 {
  color: #e34c26 !important;
}
.fa-css3-alt {
  color: #264de4 ;
}

.fa-js {
  color: #F0DB4F;
}

.fa-bootstrap {
  color: #805ab9;
}
.fa-git {
  color: #F1502F;
}
.fa-ubuntu {
  color: #E95420;
}
.fa-behance {
  color: #131418;
}
 /***** End FontAwesome Icons Customisation *****/