;

:root {
    --font-family: "Inter", sans-serif;
}

.services {
    font-family: var(--font-family);
    display: flex;
    flex-flow: column;
    padding: 56px 72px;
    gap: 24px;
    color: rgba(41, 41, 41, 1);

}

.services h1 {
    font-weight: 800;
    font-family: inherit;
    color: black;
    margin-left: 0.67em;
}

.service-row-1 {
    display: flex;
    height: 40%;
    flex-flow: row;
    gap: 16px;
    padding: 20px 24px;
}

.service-row-2 {
    display: flex;
    flex-flow: row;
    gap: 28px;
    padding: 20px 24px;
}

.service-card {
    display: flex;
    flex-flow: column;
    padding: 0px 0px 24px 0px;
    border-radius: 8px;
    gap: 16px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);

}

.service-row-1 .service-card {
    width: 420px;
    height: 472px;
}

.service-row-2 .service-card {
    height: 520px;
    width: 634px;
}

.service-card-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.service-card button {

    background: rgba(237, 78, 60, 1);
    color: #ffff;
    width: 107px;
    height: 43px;
    padding: 12px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    opacity: 0px;

}

.service-card-content {
    display: flex;
    flex-flow: column;
    width: 100%;

    padding: 0px 16px;
    gap: 16px;
}

#service-card-h2 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
}

#service-card-p {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

@media screen and (max-width:786px){
    .services{
        padding:  56px 16px;
    }
    .service-row-1, .service-row-2 {
        flex-flow: column;
    }

    .service-row-2 .service-card{
        width: 420px;
    }
}